<h4 class="center-align">Audience levels for May 08 2017</h4>
<div class="center-align">
  <div id="bar-chart" class="view"></div>
  <a id="bar-chart-png" href="#" class="exportButton">Export PNG</a>
  <a id="bar-chart-svg" href="#" class="exportButton">Export SVG</a>
</div>