<h4>Audience levels for May 08 2017</h4>
<div class="embed">
  <div id="bar-chart" class="view"></div>
  <a href="./bar-chart.vg.json">View Source</a>
  <a id="bar-chart-png" href="#">Export PNG</a>
  <a id="bar-chart-svg" href="#">Export SVG</a>
</div>