<h4 class="center-align">CDN and P2P traffic by country</h4>
<div class="center-align">
  <div id="grouped-bar-chart" class="view"></div>
  <a id="grp-chart-png" href="#" class="exportGrp">Export PNG</a>
  <a id="grp-chart-svg" href="#" class="exportGrp">Export SVG</a>
</div>