<div class="nav-wrapper">
      <a href="#!" class="brand-logo"> FluxRacine</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#" id="audienceButton" class="pageButton">Audience</a></li>
        <li><a href="#" id="usageBWButton" class="pageButton">CDN & P2P</a></li>
        <li><a href="#" id="countryButton" class="pageButton">Traffic by country</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#" id="audienceButton" class="pageButton">Audience</a></li>
        <li><a href="#" id="usageBWButton" class="pageButton">CDN & P2P</a></li>
        <li><a href="#" id="countryButton" class="pageButton">Traffic by country</a></li>
      </ul>
    </div>